<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.arcadsoftware.afs.client.core.connectedcontainer" name="%extension-point.connectedcontainer" schema="schema/com.arcadsoftware.afs.client.core.container.exsd"/>
   <extension-point id="com.arcadsoftware.afs.client.branding.dialog.icon" name="%extension-point.dialogicon" schema="schema/com.arcadsoftware.afs.client.branding.dialog.icon.exsd"/>
   <extension
         point="com.arcadsoftware.client.editor">
      <loader
            class="com.arcadsoftware.afs.client.core.ui.loaders.CoreEditorLoader"
            realm="unified">
      </loader>
      <loaderSWT
            class="com.arcadsoftware.afs.client.core.ui.loaders.CoreContentLoader"
            realm="unified">
      </loaderSWT>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arcadsoftware.afs.client.core.ui.editors.ConnectedDynamicEditor"
            default="false"
            id="com.arcadsoftware.afs.client.core.ui.editors.ConnectedDynamicEditor"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="com.arcadsoftware.afs.framework.userMessage">
      <userMessage
            filename="/core.messages">
      </userMessage>
   </extension>
   <extension
         point="com.arcadsoftware.client.editor.swt">
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedTableWithUserDefinedButtonBarSWTProvider"
            name="standardTable"
            regex="true"
            type=".*">
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <elementParameter
               name="dialog"
               use="optional">
            <parameter
                  name="layoutName"
                  use="required">
            </parameter>
            <parameter
                  name="title"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="required">
            </parameter>
            <parameter
                  name="height"
                  use="required">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               name="editAction"
               use="optional">
         </parameter>
         <parameter
               name="editionAttribute"
               use="optional">
         </parameter>
         <parameter
               name="editionType"
               use="optional">
         </parameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter>
         <parameter            
               name="pageCount"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedTableWithDialogSWTProvider"
            name="standardWithDialogTable"
            regex="false"
            type="*">
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="id"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <elementParameter
               name="dialog"
               use="optional">
            <parameter
                  name="layoutName"
                  use="required">
            </parameter>
            <parameter
                  name="title"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="required">
            </parameter>
            <parameter
                  name="height"
                  use="required">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <elementParameter
               name="alternateValue"
               use="optional">
            <parameter
                  name="columnid"
                  use="required">
            </parameter>
            <parameter
                  name="value"
                  use="optional">
            </parameter>
            <parameter
                  name="altvalue"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter>
         <parameter
               name="orderList"
               use="optional">
         </parameter>
      </input>
      <decorator
            class="com.arcadsoftware.afs.client.core.ui.widgets.HyperlinkRelatedBeanDecoratorSWTProvider"
            name="relatedHyperlink">
         <parameter
               name="reference"
               use="required">
         </parameter>
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
      </decorator>
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedTableWithButtonBarWizardedSWTProvider"
            name="standardWizardedTable"
            regex="false"
            type="*">
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="id"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <elementParameter
               name="dialog"
               use="optional">
            <parameter
                  name="layoutName"
                  use="required">
            </parameter>
            <parameter
                  name="title"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="required">
            </parameter>
            <parameter
                  name="height"
                  use="required">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <elementParameter
               name="alternateValue"
               use="optional">
            <parameter
                  name="columnid"
                  use="required">
            </parameter>
            <parameter
                  name="value"
                  use="optional">
            </parameter>
            <parameter
                  name="altvalue"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="wizardtitle"
               use="optional">
         </parameter>
         <parameter
               name="wizardpagetitle"
               use="optional">
         </parameter>
         <parameter
               name="wizardpagedescription"
               use="optional">
         </parameter>
         <parameter
               name="errorcode"
               use="optional">
         </parameter>
         <parameter
               name="sortorder"
               use="optional">
         </parameter>
         <parameter
               name="layoutname"
               use="optional">
         </parameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter>
         <parameter
               name="orderList"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="autolink"
               use="optional">
         </parameter>
      </input>
       <container
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedEditorContainerSWTProvider"
            description="Embed a sub-dynamic connected editor into a widget."
            name="connectedEditorContainer">
         <parameter
               name="id"
               use="required">
         </parameter>
         <parameter
               name="type"
               use="required">
         </parameter>
         <parameter
               default="Save required"
               name="saveBeforeLoadTitle"
               use="optional">
         </parameter>
         <parameter
               default="Save modifications ?"
               name="saveBeforeLoadMessage"
               use="optional">
         </parameter>
         <parameter
               default="Save error"
               name="saveErrorTitle"
               use="optional">
         </parameter>
         <parameter
               default="Save error"
               name="saveErrorMessage"
               use="optional">
         </parameter>
         <parameter
               default="Load error"
               name="loadErrorTitle"
               use="optional">
         </parameter>
         <parameter
               name="layoutName"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillBoth"
               use="optional">
         </parameter>
         <parameter
               name="widgetId"
               use="optional">
         </parameter>
         <parameter
               default="Load error"
               name="loadErrorMessage"
               use="optional">
         </parameter>
         <parameter
               name="layoutEmptyName"
               use="optional">
         </parameter>
      </container>
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedOrderedTableSWTProvider"
            description="Connected table that offers buttons to change order in list."
            name="orderedtable"
            type="*">            
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter> 
         <parameter
               name="orderList"
               use="optional">
         </parameter> 
         <parameter
               name="order"
               use="optional">
         </parameter>         
         <parameter
               name="colSpan"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="addAction"
               use="optional">
         </parameter>
         <parameter
               default="Add"
               name="addActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="addEditor"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="editAction"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="removeAction"
               use="optional">
         </parameter>
         <parameter
               default="Remove"
               name="removeActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="Edit"
               name="editActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               name="addIcon"
               use="optional">
         </parameter>
         <parameter
               name="editIcon"
               use="optional">
         </parameter>
         <parameter
               name="removeIcon"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inToolBar"
                  use="optional">
            </parameter>
            <parameter
                  name="menuLabel"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inFormToolBar"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inInternalToolBar"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
      </input>
      
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedIndirectLinkTableSWTProvider"
            description="Connected table that shows indirect links. No addition neither deletion."
            name="indirectlinktable"
            type="*">            
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter> 
         <parameter
               name="orderList"
               use="optional">
         </parameter>
         <parameter
         	   name="refLink"
               use="required">         
         </parameter>
         <parameter
               name="colSpan"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="editAction"
               use="optional">
         </parameter>
         <parameter
               default="Edit"
               name="editActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               name="addIcon"
               use="optional">
         </parameter>
         <parameter
               name="editIcon"
               use="optional">
         </parameter>
         <parameter
               name="removeIcon"
               use="optional">
         </parameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inToolBar"
                  use="optional">
            </parameter>
            <parameter
                  name="menuLabel"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inFormToolBar"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inInternalToolBar"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
      </input>
      <decorator
            class="com.arcadsoftware.afs.client.core.ui.widgets.HyperlinkActionDecoratorSWTProvider"
            description="HyperLink to action"
            name="actionHyperlink">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="action"
               use="required">
         </parameter>
         <parameter
               name="urltext"
               use="required">
         </parameter>
      </decorator>
      <input
            class="com.arcadsoftware.afs.client.core.ui.widgets.ConnectedTableWithDialogEnhancedSWTProvider"
            name="standardWithDialogTableEnhanced"
            regex="false"
            type="*">
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="id"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <elementParameter
               name="dialog"
               use="optional">
            <parameter
                  name="layoutName"
                  use="required">
            </parameter>
            <parameter
                  name="title"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="required">
            </parameter>
            <parameter
                  name="height"
                  use="required">
            </parameter>
         </elementParameter>
         <elementParameter
               name="buttonBar"
               use="optional">
            <parameter
                  name="id"
                  use="optional">
            </parameter>
            <parameter
                  name="position"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="button"
               use="optional">
            <parameter
                  name="buttonBarId"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  name="anchor"
                  use="optional">
            </parameter>
            <parameter
                  name="offset"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
            <parameter
                  name="height"
                  use="optional">
            </parameter>
            <parameter
                  name="actionId"
                  use="optional">
            </parameter>
         </elementParameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  name="dbclick"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <elementParameter
               name="alternateValue"
               use="optional">
            <parameter
                  name="columnid"
                  use="required">
            </parameter>
            <parameter
                  name="value"
                  use="optional">
            </parameter>
            <parameter
                  name="altvalue"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter>
         <parameter
               name="orderList"
               use="optional">
         </parameter>
      </input>
   </extension>

</plugin>
