<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="AFS Platform" sequenceNumber="1">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.19/"/>
		<unit id="javax.servlet" version="0.0.0"/>
		<unit id="org.apache.felix.gogo.command" version="1.1.2.v20210111-1007"/>
		<unit id="org.apache.felix.gogo.runtime" version="1.1.4.v20210111-1007"/>
		<unit id="org.apache.felix.gogo.shell" version="1.1.4.v20210111-1007"/>
		<unit id="org.eclipse.equinox.console.jaas.fragment" version="1.1.0.v20210202-1256"/>
		<unit id="org.eclipse.equinox.console.ssh" version="1.2.800.v20210114-1556"/>
		<unit id="org.eclipse.equinox.console" version="1.4.300.v20210211-2058"/>
		<unit id="com.sun.jna" version="4.5.1.v20190425-1842"/>
		<unit id="com.sun.jna.platform" version="4.5.1.v20190425-1842"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2018-09/201809191002/"/>
		<unit id="javax.xml" version="0.0.0"/>
		<unit id="javax.xml.stream" version="0.0.0"/>
		<unit id="org.apache.commons.collections" version="0.0.0"/>
		<unit id="org.apache.commons.lang" version="0.0.0"/>
		<unit id="org.apache.commons.pool" version="0.0.0"/>
		<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
		<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.databinding.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.slf4j.api" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		<repository location="https://github.com/ARCAD-Software/arcad-evolution/releases/download/12.0.0/"/>
		<unit id="com.arcadsoftware.aev.core.services" version="0.0.0"/>
		<unit id="com.arcadsoftware.aev.core.ui.rcp" version="0.0.0"/>
		<unit id="com.arcadsoftware.aev.core" version="0.0.0"/>
		<unit id="com.arcadsoftware.aev.core.ui" version="0.0.0"/>
		<unit id="com.arcadsoftware.aev.icons" version="0.0.0"/>
		<unit id="com.arcadsoftware.aev.list.manager" version="0.0.0"/>
		<unit id="org.apache.commons.lang3" version="0.0.0"/>
		<unit id="org.hsqldb.hsqldb" version="0.0.0"/>
		<unit id="wrapped.com.google.re2j.re2j" version="0.0.0"/>
		<unit id="wrapped.net.sf.jmimemagic.jmimemagic" version="0.0.0"/>
	</location>
</locations>
</target>
