<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="test.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="test.rcp.Perspective"
            name="Perspective"
            id="test.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="test.rcp.View"
            name="View"
            id="test.rcp.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="test.rcp.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="test.rcp.view"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Divers">
            <command
                  commandId="test.rcp.command.connect"
                  label="Connect..."
                  style="push">
            </command>
            <command
                  commandId="test.rcp.command.action"
                  label="Action a tester"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         name="rcp"
         point="org.eclipse.core.runtime.products">
      <product
            application="test.rcp.application"
            description="This RCP is a test platform..."
            name="AFS Studio (Test Application)">
         <property
               name="appName"
               value="AFS Studio (Test Application)">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="test.rcp.ConnectHandler"
            id="test.rcp.command.connect"
            name="Connect">
      </command>
      <command
            defaultHandler="test.rcp.ActionHandler"
            id="test.rcp.command.action"
            name="Action à Tester">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="test.rcp.ConnectHandler"
            commandId="test.rcp.handler.connect">
      </handler>
      <handler
            class="test.rcp.ActionHandler"
            commandId="test.rcp.handler.action">
      </handler>
   </extension>
   <extension
         point="com.arcadsoftware.afs.client.truststore.provider">
      <provider
            class="test.rcp.TrustStoreProvider">
      </provider>
   </extension>

</plugin>
