<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         name="toto"
         point="com.arcadsoftware.client.editor.swt">
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.FormContainerSWTProvider"
            name="form">
         <parameter
               default="true"
               name="scroll"
               use="optional">
         </parameter>
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="cols"
               use="optional">
         </parameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.SectionContainerSWTProvider"
            name="section">
         <parameter
               name="title"
               use="required">
         </parameter>
         <parameter
               name="cols"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="large"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="twistie"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="expanded"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillVertical"
               use="optional">
         </parameter>
         <parameter
               name="description"
               use="optional">
         </parameter>
         <parameter
               name="fillStyle"
               use="optional">
         </parameter>
         <parameter
               name="colSpan"
               use="optional">
         </parameter>
         <parameter
               default="-1"
               name="width"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.ExpandableContainerSWTProvider"
            name="expandable">
         <parameter
               name="title"
               use="required">
         </parameter>
         <parameter
               name="cols"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.CompositeContainerSWTProvider"
            name="composite">
         <parameter
               name="cols"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="border"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillBoth"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="scroll"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="withMargin"
               use="optional">
         </parameter>
         <parameter
               name="colSpan"
               use="optional">
         </parameter>
         <parameter
               name="width"
               use="optional">
         </parameter>
         <parameter
               name="fillStyle"
               use="optional">
         </parameter>
         <parameter
               name="height"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.GroupContainerSWTProvider"
            name="group">
         <parameter
               name="title"
               use="required">
         </parameter>
         <parameter
               name="cols"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillBoth"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.SashFormContainerSWTProvider"
            name="sashForm">
         <parameter
               default="horizontal"
               name="orientation"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillVertical"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               default="50"
               name="ratio"
               use="optional">
         </parameter>
      </container>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.SeparatorDecoratorSWTProvider"
            name="separator">
         <parameter
               default="horizontal"
               name="orientation"
               use="optional">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.HyperlinkDecoratorSWTProvider"
            name="hyperlink">
         <parameter
               name="url"
               use="required">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.LabelDecoratorSWTProvider"
            name="label">
         <parameter
               name="label"
               use="required">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.ImageDecoratorSWTProvider"
            name="image">
         <parameter
               name="url"
               use="required">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.ButtonDecoratorSWTProvider"
            name="button">
         <parameter
               name="label"
               use="required">
         </parameter>
         <parameter
               name="action"
               use="required">
         </parameter>
         <parameter
               default="false"
               name="grabHorizontal"
               use="optional">
         </parameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="atRight"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="atBottom"
               use="optional">
         </parameter>
         <parameter
               name="width"
               use="optional">
         </parameter>
         <parameter
               description="Tooltip of the button widget"
               name="tooltip"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="showText"
               use="optional">
         </parameter>
      </decorator>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.SpinnerInputSWTProvider"
            name="integer"
            type="integer">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="max"
               use="optional">
         </parameter>
         <parameter
               name="min"
               use="optional">
         </parameter>
         <parameter
               name="enabledIf"
               use="optional">
         </parameter>
      </input>
       <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.HiddenIdInputSWTProvider"
            name="hiddenForInternalEditor"
            type="integer">
            <parameter
                 name="attribute"
            	 use="required">
         	</parameter>
         	<parameter
               name="internalEditorId"
               use="required">
         	</parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.CustomDateInputSWTProvider"
            name="date"
            type="date">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="withCheckButton"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="withTime"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="shortTime"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.CheckBoxInputSWTProvider"
            name="boolean"
            type="boolean">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="defaultValue"
               use="optional">
         </parameter>
         <parameter
               name="tooltip"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="exclusive"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.CheckBoxIntInputSWTProvider"
            name="intToBoolean"
            type="integer">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="defaultValue"
               use="optional">
         </parameter>
         <parameter
               default="-1"
               name="offMin"
               use="required">
         </parameter>
         <parameter
               default="-1"
               name="offMax"
               use="required">
         </parameter>
         <parameter
               default="-1"
               name="onMin"
               use="required">
         </parameter>
         <parameter
               default="-1"
               name="onMax"
               use="required">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.SpinnerInputSWTProvider"
            name="float"
            type="float">
         <parameter
               default="2"
               name="digits"
               use="optional">
         </parameter>
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="max"
               use="optional">
         </parameter>
         <parameter
               name="min"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.CalendarSWTProvider"
            name="calendar"
            type="date">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="expendable"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.ComboSWTProvider"
            name="combo"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values in to the list"
               name="translate"
               use="optional">
         </parameter>
         <parameter
               description="Attribute Filter"
               name="attributefilter"
               use="optional">
         </parameter>
         <parameter
               description="Value of attribute to filter list"
               name="value"
               use="optional">
         </parameter>
         <parameter
               description="Attribute test equality : True for equality or False for inequality"
               name="equals"
               use="optional">
         </parameter>
         <parameter
               description="Attribute to sort the combo"
               name="sort"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.LinkedComboSWTProvider"
            name="linkedCombo"
            type="*">
         <parameter
               name="linked"
               use="required">
         </parameter>
         <parameter
               name="linkCode"
               use="required">
         </parameter>
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values in to the list."
               name="translate"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.TableSWTProvider"
            name="table"
            type="*">
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="addAction"
               use="optional">
         </parameter>
         <parameter
               default="Add"
               name="addActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="addEditor"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="editAction"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="removeAction"
               use="optional">
         </parameter>
         <parameter
               default="Remove"
               name="removeActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="Edit"
               name="editActionLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="borderSpace"
               use="optional">
         </parameter>
         <parameter
               name="format"
               use="optional">
         </parameter>
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
            <parameter
                  name="width"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="internalEditorId"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <elementParameter
               name="widgetListened"
               use="optional">
            <parameter
                  name="widgetId"
                  use="required">
            </parameter>
         </elementParameter>
         <parameter
               name="addIcon"
               use="optional">
         </parameter>
         <parameter
               name="editIcon"
               use="optional">
         </parameter>
         <parameter
               name="removeIcon"
               use="optional">
         </parameter>
         <parameter
               default="Remove entity"
               name="removeConfirmationTitle"
               use="optional">
         </parameter>
         <parameter
               default="Do you confirm removing of entity ?"
               name="removeConfirmationMessage"
               use="optional">
         </parameter>
         <parameter
				default=""
               name="tableViewerId"
               use="optional">
         </parameter>
         <elementParameter
               name="editorAction"
               use="optional">
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="action"
                  use="required">
            </parameter>
            <parameter
                  name="icon"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inToolBar"
                  use="optional">
            </parameter>
            <parameter
                  name="menuLabel"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inFormToolBar"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  name="inInternalToolBar"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="storeState"
               use="optional">
         </parameter>
         <parameter
               name="attributeList"
               use="optional">
         </parameter>         
         <parameter
               name="colSpan"
               use="optional">
         </parameter>
         <parameter
               name="editionAttribute"
               use="optional">
         </parameter>
         <parameter
               name="editionType"
               use="optional">
         </parameter>
      </input>
      <!--
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.AbstractDownloadSWTProvider"
            name="download"
            type="string">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
      </input>

      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.AbstractBrowseSWTProvider"
            name="browse"
            type="string">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="getFilePath"
               use="optional">
         </parameter>
      </input>
      -->
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.WebLinkSWTProvider"
            name="weblink"
            type="http">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               name="menuIcon"
               use="required">
         </parameter>
      </input>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.EditorContainerSWTProvider"
            description="Embbed a sub-dynamic editor into a widget."
            name="editorContainer">
         <parameter
               name="id"
               use="required">
         </parameter>
         <parameter
               name="type"
               use="required">
         </parameter>
         <parameter
               default="Save required"
               name="saveBeforeLoadTitle"
               use="optional">
         </parameter>
         <parameter
               default="Save modifications ?"
               name="saveBeforeLoadMessage"
               use="optional">
         </parameter>
         <parameter
               default="Save error"
               name="saveErrorTitle"
               use="optional">
         </parameter>
         <parameter
               default="Save error"
               name="saveErrorMessage"
               use="optional">
         </parameter>
         <parameter
               default="Load error"
               name="loadErrorTitle"
               use="optional">
         </parameter>
         <parameter
               name="layoutName"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillBoth"
               use="optional">
         </parameter>
         <parameter
               name="widgetId"
               use="optional">
         </parameter>
         <parameter
               default="Load error"
               name="loadErrorMessage"
               use="optional">
         </parameter>
         <parameter
               name="layoutEmptyName"
               use="optional">
         </parameter>
      </container>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.UpdateDateDecoratorSWTProvider"
            name="updateDate">
         <parameter
               name="label"
               use="required">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.ActionDecoratorSWTProvider"
            name="editorAction">
         <parameter
               name="label"
               use="required">
         </parameter>
         <parameter
               name="action"
               use="required">
         </parameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="inToolBar"
               use="optional">
         </parameter>
         <parameter
               name="menuLabel"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="inFormToolBar"
               use="optional">
         </parameter>
      </decorator>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.PanelSWTProvider"
            name="panel">
         <parameter
               name="label"
               use="required">
         </parameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
         <parameter
               name="cols"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="scroll"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="withMargin"
               use="optional">
         </parameter>
         <parameter
               name="margin"
               use="optional">
         </parameter>
      </container>
      <container
            class="com.arcadsoftware.client.editors.swtwidgets.containers.PanelsSWTProvider"
            name="panels">
         <parameter
               default="bottom"
               name="align"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="border"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillBoth"
               use="optional">
         </parameter>
      </container>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.CheckBoxInputSWTProvider"
            name="input"
            type="boolean">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="defaultValue"
               use="optional">
         </parameter>
      </input>      
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.MinimalistInputSWTProvider"
            name="input"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="tooltip"
               use="optional">
         </parameter>
         <parameter
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="multi"
               use="optional">
         </parameter>
         <parameter
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <!--FM number="2010/564" version="09.03.02" date=Dec 7, 2010 user=md -->
         <parameter
               default="-1"
               name="height"
               use="optional">
         </parameter>
         <parameter
               name="isPassword"
               use="optional">
         </parameter>
         <parameter
               name="mandatoryCondBy"
               use="optional">
         </parameter>
         <parameter
               name="limit"
               use="optional">
         </parameter>
         <parameter
               name="border"
               use="optional">
         </parameter>
         <!--FM  -->
         <parameter
         	name="format"
         	use="optional">
         </parameter>
         <parameter
               default="0"
               name="lines"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="monospaceFont"
               use="optional">
         </parameter>
         <parameter
               name="enabledIf"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.MinimalistInputSWTProvider"
            name="input"
            type="string">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="multi"
               use="optional">
         </parameter>
         <parameter
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <!--FM number="2010/564" version="09.03.02" date=Dec 7, 2010 user=md -->
         <parameter
               default="-1"
               name="height"
               use="optional">
         </parameter>
         <parameter
               name="isPassword"
               use="optional">
         </parameter>
         <parameter
               name="mandatoryCondBy"
               use="optional">
         </parameter>
         <parameter
               name="limit"
               use="optional">
         </parameter>
         <parameter
               name="border"
               use="optional">
         </parameter>
         <parameter
               default="0"
               name="lines"
               use="optional">
         </parameter>
         <!--FM  -->
         <parameter
               default="false"
               name="monospaceFont"
               use="optional">
         </parameter>
         <parameter
               name="enabledIf"
               use="optional">
         </parameter>
      </input>
       <input
             class="com.arcadsoftware.client.editors.swtwidgets.inputs.TableWithButtonBarSWTProvider"
             name="tableWithButton"
             type="*">
          <parameter
                default="false"
                name="default"
                use="optional">
          </parameter>
          <parameter
                default="false"
                name="addEditor"
                use="optional">
          </parameter>
          <parameter
                default="false"
                name="borderSpace"
                use="optional">
          </parameter>
          <parameter
                name="format"
                use="optional">
          </parameter>
          <elementParameter
                name="column"
                use="optional">
             <parameter
                   name="attribute"
                   use="required">
             </parameter>
             <parameter
                   name="format"
                   use="optional">
             </parameter>
             <parameter
                   name="label"
                   use="optional">
             </parameter>
             <parameter
                   default="true"
                   name="booleanIcon"
                   use="optional">
             </parameter>
             <parameter
                   name="dateFormat"
                   use="optional">
             </parameter>
             <parameter
                   name="width"
                   use="optional">
             </parameter>
          </elementParameter>
          <parameter
                default="true"
                name="useBooleanImage"
                use="optional">
          </parameter>
          <elementParameter
                name="widgetListened"
                use="optional">
             <parameter
                   name="widgetId"
                   use="required">
             </parameter>
          </elementParameter>
          <parameter
                default="Remove entity"
                name="removeConfirmationTitle"
                use="optional">
          </parameter>
          <parameter
                default="Do you confirm removing of entity ?"
                name="removeConfirmationMessage"
                use="optional">
          </parameter>
          <elementParameter
                name="editorAction"
                use="optional">
             <parameter
                   name="label"
                   use="required">
             </parameter>
             <parameter
                   name="action"
                   use="required">
             </parameter>
             <parameter
                   name="icon"
                   use="optional">
             </parameter>
          </elementParameter>
          <elementParameter
                name="dialog"
                use="optional">
             <parameter
                   name="layoutName"
                   use="required">
             </parameter>
             <parameter
                   name="title"
                   use="optional">
             </parameter>
             <parameter
                   name="width"
                   use="required">
             </parameter>
             <parameter
                   name="height"
                   use="required">
             </parameter>
          </elementParameter>
          <parameter
                default="false"
                name="storeState"
                use="optional">
          </parameter>
          <elementParameter
                name="buttonBar"
                use="optional">
             <parameter
                   name="id"
                   use="optional">
             </parameter>
             <parameter
                   name="position"
                   use="optional">
             </parameter>
             <parameter
                   name="height"
                   use="optional">
             </parameter>
          </elementParameter>
          <elementParameter
                name="button"
                use="optional">
             <parameter
                   name="buttonBarId"
                   use="required">
             </parameter>
             <parameter
                   name="label"
                   use="optional">
             </parameter>
             <parameter
                   name="anchor"
                   use="optional">
             </parameter>
             <parameter
                   name="offset"
                   use="optional">
             </parameter>
             <parameter
                   name="width"
                   use="optional">
             </parameter>
             <parameter
                   name="height"
                   use="optional">
             </parameter>
             <parameter
                   name="actionId"
                   use="optional">
             </parameter>
          </elementParameter>
          <elementParameter
                name="editorAction"
                use="optional">
             <parameter
                   name="action"
                   use="required">
             </parameter>
             <parameter
                   name="label"
                   use="required">
             </parameter>
             <parameter
                   name="icon"
                   use="optional">
             </parameter>
             <parameter
                   name="dbclick"
                   use="optional">
             </parameter>
          </elementParameter>
       </input>      
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.ReferenceLabelSWTProvider"
            description="%decorator.ReferenceLabelSWTProvider.description"
            name="referencelabel">
         <parameter
               description="%parameter.ReferenceLabelSWTProvider.referenceParameter.description"
               name="reference"
               use="required">
         </parameter>
         <parameter
               description="%parameter.ReferenceLabelSWTProvider.formatParameter.description"
               name="format"
               use="optional">
         </parameter>
         <parameter
               default="No value to show"
               description="%parameter.ReferenceLabelSWTProvider.defaultParameter.description"
               name="default"
               use="optional">
         </parameter>
         <parameter
               description="%parameter.ReferenceLabelSWTProvider.labelParameter.description"
               name="label"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values of the reference"
               name="translate"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fillHorizontal"
               use="optional">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.VirtualLabelSWTProvider"
            name="virtualLabel">
         <parameter
               name="label"
               use="required">
         </parameter>
         <parameter
               name="virtual"
               use="optional">
         </parameter>
      </decorator>
      <decorator
            class="com.arcadsoftware.client.editors.swtwidgets.decorators.DateLabelSWTProvider"
            name="datelabel">
         <parameter
               name="attribute"
               use="required">
         </parameter>
         <parameter
               name="label"
               use="required">
         </parameter>         
         <parameter
               name="format"
               use="optional">
         </parameter>
      </decorator>      
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.LinkTableSWTProvider"
            name="linkTable"
            type="*">
         <elementParameter
               name="column"
               use="optional">
            <parameter
                  name="attribute"
                  use="required">
            </parameter>
            <parameter
                  name="format"
                  use="optional">
            </parameter>
            <parameter
                  name="label"
                  use="optional">
            </parameter>
            <parameter
                  default="true"
                  name="booleanIcon"
                  use="optional">
            </parameter>
            <parameter
                  name="dateFormat"
                  use="optional">
            </parameter>
         </elementParameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillVertical"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               name="height"
               use="optional">
         </parameter>
         <parameter
               name="selectAction"
               use="optional">
         </parameter>
         <parameter
               name="selectLabel"
               use="optional">
         </parameter>
         <parameter
               name="selectIcon"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="useBooleanImage"
               use="optional">
         </parameter>
         <parameter
               name="icon"
               use="optional">
         </parameter>
      </input>
      <input
            name="checkTree"
            type="*">
         <parameter
               name="format"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillVertical"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="sorted"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               name="height"
               use="optional">
         </parameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.PatternProvider"
            name="pattern"
            regex="false"
            type="string">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               name="height"
               use="optional">
         </parameter>
         <parameter
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="message"
               use="optional">
         </parameter>
      </input>            
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.InputWithButtonSWTProvider"
            description="Input and Button Action"
            name="inputandaction"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="true"
               name="fillHorizontal"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="multi"
               use="optional">
         </parameter>
         <parameter
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="-1"
               name="height"
               use="optional">
         </parameter>
         <parameter
               name="isPassword"
               use="optional">
         </parameter>
         <parameter
               name="actionLabel"
               use="optional">
         </parameter>
         <parameter
               name="actionTooltip"
               use="optional">
         </parameter>
         <parameter
               name="action"
               use="optional">
         </parameter>
      </input>
       <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.FixedValueComboSWTProvider"
            name="comboFixedValue"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values in to the list."
               name="translate"
               use="optional">
         </parameter>
         <elementParameter
               name="item"
               use="optional">
            <parameter
                  name="value"
                  use="optional">
            </parameter>
            <parameter
                  name="index"
                  use="optional">
            </parameter>
            <parameter
                  default="false"
                  description="Default selection"
                  name="default"
                  use="optional">
            </parameter>
         </elementParameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.FixedStringValueComboSWTProvider"
            name="comboFixedStringValue"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               name="border"
               use="optional">
         </parameter>
         <parameter
               name="drop"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values in to the list."
               name="translate"
               use="optional">
         </parameter>
         <elementParameter
               name="item"
               use="optional">
            <parameter
                  name="value"
                  use="optional">
            </parameter>
            <parameter
                  name="index"
                  use="required">
            </parameter>
            <parameter
                  default="false"
                  description="Default selection"
                  name="default"
                  use="optional">
            </parameter>
         </elementParameter>
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.GroupRadioInputSWTProvider"
            name="radiogroup"
            type="*">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               name="type"
               use="required">
         </parameter>
         <parameter
               default="false"
               name="readOnly"
               use="optional">
         </parameter>
         <parameter
               description="Translate the values in to the list."
               name="translate"
               use="optional">
         </parameter>
         <elementParameter
               name="item"
               use="optional">
            <parameter
                  name="label"
                  use="required">
            </parameter>
            <parameter
                  name="value"
                  use="required">
            </parameter>
            <parameter
                  name="index"
                  use="required">
            </parameter>
	        <parameter
	              default="false"
	              name="default"
	              use="optional">
	        </parameter>
         </elementParameter>   
      </input>
      <input
            class="com.arcadsoftware.client.editors.swtwidgets.inputs.ComboListSWTProvider"
            name="comboList"
            regex="false"
            type="string">
         <parameter
               name="label"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="border"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="default"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="fixed"
               use="optional">
         </parameter>
         <parameter
               default="false"
               name="mandatory"
               use="optional">
         </parameter>
         <elementParameter
               name="item"
               use="optional">
            <parameter
                  name="value"
                  use="required">
            </parameter>
         </elementParameter>
      </input>
   </extension>
</plugin>
